<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>music generation</title>
</head>
 
<body>
    <br>
    <h1 align="center">Music Generation Using Deep Learning</h1>
    <br>
    <ul align="center">
        <form methode="GET" action="/output">
        <button <a  style="WIDTH: 60pt; HEIGHT: 30pt; font-size: 90%;">button</a></button>
        </form>
    </ul>
</body>
<footer align='center'>Powerd by <strong>© 2022 AI 08 bahk kyungmin</strong></footer>
</html>