<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>music generation</title>
</head>
 
<body> 
	<br>
    <h1 align="center">Music Generator</h1>
  <br>
    <EMBED hidden=true autostart=true loop=1>
    <ul align="center">
      <section id="section1">
        <midi-visualizer
          type="piano-roll">
        </midi-visualizer>
        <midi-visualizer
          type="staff">
        </midi-visualizer>
        <midi-player
          src="{{filepath}}"
          sound-font visualizer="#section1 midi-visualizer">
        </midi-player>
        </section>


      <form style="padding-top:20px;"></form>
      <form method="get" action="download_file">
        <button type="submit" style="font-size:15px">download</button>
      </form>
      </form>
      <form methode="GET" action="/load">
        <button style="font-size:15px">make new</button>
      </form>
    </ul>
<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.4.0"></script>
</body>
<footer align='center'>Powerd by <strong>© 2022 AI 08 bahk kyungmin</strong></footer>
</html>
